<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="prefix" default="panda_"/>
  <xacro:arg name="robot_ip" default="127.0.0.1"/>
  <xacro:arg name="robot_state_port" default="1601"/>
  <xacro:arg name="robot_command_port" default="1602"/>
  <xacro:arg name="load_gazebo" default="false"/>
  <xacro:arg name="load_ros2_control" default="false"/>
  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="connected_to" default=""/>
  <xacro:arg name="xyz" default="0 0 0"/>
  <xacro:arg name="rpy" default="0 0 0"/>

  <!-- Import ros2_control description -->
  <xacro:include filename="$(find franka_panda_description)/ros2_control/panda_arm.ros2_control.xacro"/>

  <xacro:include filename="$(find franka_panda_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_panda_description)/robots/hand.xacro"/>

  <xacro:include filename="$(find franka_panda_description)/robots/l515_adapter.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro" />

  <xacro:panda_arm
    prefix="$(arg prefix)"
    connected_to="$(arg connected_to)"
    xyz="$(arg xyz)"
    rpy="$(arg rpy)"
  />

  <xacro:l515_adapter prefix="$(arg prefix)holder_" connected_to="$(arg prefix)link8" rpy="0 0 ${-pi/4}"/>

  <xacro:sensor_l515 parent="$(arg prefix)holder_cam" use_nominal_extrinsics="true" add_plug="true" use_mesh="false">
    <origin xyz="0 -0.03015 0.014" rpy="${-pi/2} ${-pi/2} 0"/>
  </xacro:sensor_l515>

  <xacro:hand ns="panda" connected_to="$(arg prefix)holder_toolside"/>

  <xacro:if value="$(arg load_ros2_control)">
        <xacro:panda_arm_interface
                name="PandaInterface"
                prefix="$(arg prefix)"
                robot_ip="$(arg robot_ip)"
                robot_state_port="$(arg robot_state_port)"
                robot_command_port="$(arg robot_command_port)"
                use_sim="$(arg use_sim)"
        />
    </xacro:if>

</robot>
